

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.container div {
  margin: 0;
  width: 10px;
  height: 10px;
  
}

.wrapper {
  justify-content: center;
  padding-top: 200px;
  display: flex;
}

.hoverClass {
  background: blue;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  margin: 0;
  width: 200px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

